* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
     height: 100%;
     width: 100%;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#765c94;
}


#container{
    height: 450px;
    width: 300px;
    border-radius: 15px;
    position: relative;
    background-color: #cbc8c8;
}


#container img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    object-position: bottom;
}

#container i{
    color: #fff;
    font-size: 70px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
     transition: all ease 0.5s; 

}