* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
     height: 100%;
     width: 100%;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:cornflowerblue;
}


#card{
    height: 450px;
    width: 300px;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

#card img{
    height: 60%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    
}


#card h1{
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0px;
    
}

#card h5{
    font-size: 25px;
    color: blueviolet;
    margin: 10px;
}

#card button{
    background-color: #faca8b;
    color: #6a2048;
    font-weight: 700;
    padding: 12px 15px;
    border-radius: 10px;
    border: none;
    margin: 5px;
    cursor: pointer;
}

