* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
}

html, body {
     height: 100%;
     width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}


.cursor{
    height: 75px;
    width: 75px;
    background-color:#f4f2f2;
    border-radius: 50%;
    position: absolute;
}

h1{
    font-size: 9vw;
    font-weight: 900;
  mix-blend-mode: difference;
}