* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
    color: #fff;
}

html, body {
     height: 100%;
     width: 100%;
}
body{
    background-color: #3a6859;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card{
    height: 480px;
    width: 350px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    border: 3px solid #000;
    position: relative;
}

#storiyan{
    height: 120px;
    width: 100%;
     /* background-color: rgb(246, 164, 156);  */
    border-bottom: 1px solid #dadada;
    padding: 15px;
    /* display: flex; */
    white-space:nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

#storiyan::-webkit-scrollbar{
    display: none;
}

.story{
    /* background-color:blue; */
    border: 2px solid red;
    height: 90px;
    border-radius: 50%;
    width: 90px;
    overflow: hidden;
    display: inline-block;
    margin-left: 5px;
}


.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#full-screen{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: none;

}